@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

.font-inter {
  font-family: 'Inter', sans-serif;
}

button{
  cursor: pointer;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
}


.polka-bg{
  background-color: #111827;
opacity: 1;
background-image: radial-gradient(#374151 1.4000000000000001px, #111827 1.4000000000000001px);
background-size: 28px 28px;
}

::-webkit-scrollbar{
  width: 0px;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}

@keyframes pulse-dot {
  0%, 100% { opacity: 1; transform: scale(1); }
  50%       { opacity: 0.5; transform: scale(0.75); }
}

.dot-pulse {
  animation: pulse-dot 1.6s ease-in-out infinite;
}
.loader {
  width: 80px;
  aspect-ratio: 1;
  --c:no-repeat radial-gradient(farthest-side,#818CF8 92%,#0000);
  background: 
    var(--c) 50%  0, 
    var(--c) 50%  100%, 
    var(--c) 100% 50%, 
    var(--c) 0    50%;
  background-size: 20px 20px;
  animation: l18 1s infinite;
  position: relative;
}

.loader::before {    
  content:"";
  position: absolute;
  inset:0;
  margin: 3px;
  background: repeating-conic-gradient(#0000 0 35deg,#818CF8 0 90deg);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 3px),#000 0);
  border-radius: 50%;
}

@keyframes l18 { 
  100%{transform: rotate(.5turn)}
}